.wp-post-nav-links,
.nav-links {
  .post-page-numbers,
  .page-numbers {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    margin: 0 0.25rem;
    &.current,
    &:hover {
      background-color: rgb(209, 213, 219);
    }
    &.next,
    &.prev {
      width: auto;
      padding: 0 0.5rem;
    }
  }
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
